{% extends 'index.html' %}

{% block content %}
<div class="nueva-sec-sobre-nosotros">
    <h1 class="nueva-sec-titulo">Sobre Nosotros</h1>
    
    <p class="nueva-sec-texto">
        En <strong>Atención Psi</strong>, impulsamos el crecimiento profesional de Licenciados en Psicología, transformando la manera en que conectan con nuevos consultantes.
    </p>
    
    <p class="nueva-sec-texto">
        Funcionamos como el nexo estratégico que optimiza tu presencia digital, diseñando un puente directo y eficiente para que logres completar tu agenda de manera sostenida.
    </p>

    <p class="nueva-sec-texto">
        Entendemos la dinámica de la clínica actual y la importancia de estar en redes, por lo que nuestras derivaciones se gestionan con un criterio de adaptabilidad total, ajustándose minuciosamente a las fluctuaciones de la demanda, tu zona geográfica de atención y la metodología específica de tu práctica profesional.
    </p>

    <p class="nueva-sec-texto">
        Sumate a un espacio donde la visibilidad se convierte en resultados tangibles, permitiéndote enfocarte en lo que mejor sabés hacer mientras nosotros potenciamos tu alcance.
    </p>

    <div class="nueva-sec-firma">Equipo de Atención Psi</div>
</div>
{% endblock %}